{% extends "layouts/layout-reward.twig" %}
        
            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Consumer Registration",
                    "description" : "None."
                }) %}
                {{ parent() }}
            {% endblock %}
        
			{% block page_scripts %}
            <script>
				$(document).ready(function() { 
					// Load the validator rules for this form
					var validators = {{validators | raw}};
					ufFormSubmit(
					  $("form[name='titles']"),
					  validators,
					  $("#userfrosting-alerts"),
					  function(data, statusText, jqXHR) {
						  // Reload the page on success
						  window.location.reload(true);   
					  }
					);
				});
				
			</script>
			<script>
			function notifyme()
			{
				if($("#notification").val() == 0)
				{
					$("#notification").val(1);
				}
				else
				{
					$("#notification").val(0);
				}
			}
			</script>
        {% endblock %}
			
            {% block content %}
              <div class="row">
                <div class="col-lg-8" style="margin-left:10%">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-users"></i> Edit Reward</h3>
                    </div>
                    <div class="panel-body">
                      <form name="user" method="get" action="{{site.uri.public}}/reward/edit">
						<div id="{{alerts_id | default('form-alerts')}}">
						</div>
						<div class="row" style="margin-left:15%">
							<div class="col-sm-8">
								<div class="form-group">
									<label>Name</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="hidden" name="rid" value="{{reward.id}}">
										<input type="text" class="form-control" name="name" placeholder="Please enter the reward name" value="{{reward.name}}">
									</div>
								</div>
							</div>
  							
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Category</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-mail"></i></span>
										<select id="input_group" class="form-control select2" name="type">
										  <option value="1" {% if reward.type_id == 1 %} selected {% endif %}>Category 1</option>
										  <option value="2" {% if reward.type_id == 2 %} selected {% endif %}>Category 2</option>
										  <option value="3" {% if reward.type_id == 3 %} selected {% endif %}>Category 3</option>
										  <option value="4" {% if reward.type_id == 4 %} selected {% endif %}>Category 4</option>
										 </select>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Required Points</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="points" value="{{reward.points}}" placeholder="Please enter the points required to earn this reward">
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Quantity</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="quantity" value="{{reward.stock}}" placeholder="Please enter the available quantity of this reward">
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Description</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="description" value="{{reward.description}}" placeholder="Please enter the reward discription">
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Reward Picture</label>
									<div class="input-group">
										<button type="button" class="btn btn-block btn-lg btn-success" style="margin-left:265%">
											Browse
										</button>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<div class="input-group">
										<input type="hidden" id="notification" name="status" value="0">
										<label>
										<input type="checkbox" onclick="notifyme()" {% if reward.status == 1 %} checked {% endif %}>
										Enable
										</label>
									</div>
								</div>
							</div>
										
						</div><br>
						<div class="row" style="margin-left:15%">
							{% if "submit" not in buttons.hidden %}
							<div class="col-xs-8 col-sm-4">
								<div class="vert-pad">
									<button type="submit" class="btn btn-block btn-lg btn-success">
										Save
									</button>
								</div>          
							</div>
							{% endif %}
						</div>
					</form>
					<script>
					// Load the validator rules for this form
					var validators = {{validators | raw}};
					</script>

                    </div>
                  </div>
                </div>
                </div>
            {% endblock %}