<!-- Navigation -->
<nav class="navbar navbar-default navbar-userfrosting navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{site.uri.public}}">{{site.site_title}}<span style="padding-left:140px;">Coupon Management Portal</span></a>
    </div>
    <!-- /.navbar-header -->
	
	{% include 'components/dashboard/menus/topbar-consumer.twig' %}
    <div class="sidebar-wrapper">
        <div class="navbar-default navbar-userfrosting sidebar" role="navigation">
            {% include 'components/dashboard/menus/sidebar.twig' %}
        </div>
        <!-- /.navbar-static-side -->        
    </div>
 </nav>
