{% extends "layouts/layout-retailer.twig" %}
        
            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Retailer Registration",
                    "description" : "None."
                }) %}
                {{ parent() }}
            {% endblock %}
        
			{% block page_scripts %}
            <script>
				$(document).ready(function() { 
					// Load the validator rules for this form
					var validators = {{validators | raw}};
					ufFormSubmit(
					  $("form[name='titles']"),
					  validators,
					  $("#userfrosting-alerts"),
					  function(data, statusText, jqXHR) {
						  // Reload the page on success
						  window.location.reload(true);   
					  }
					);
				});
				
			</script>
			<script>
			function notifyme()
			{
				if($("#notification").val() == 0)
				{
					$("#notification").val(1);
				}
				else
				{
					$("#notification").val(0);
				}
			}
			function loadlogo()
			{
				var logo = $("#logoToUpload").val();
				var fileNameIndex = logo.lastIndexOf("\\") + 1;
				var filename = logo.substr(fileNameIndex);
				$.ajax({
					 type: "POST",
					 url: 'uploadlogo.php',
					 data: new FormData( $( '#user' )[0] ),
					 processData: false,
					 contentType: false,
					 success: function(result){
						alert(result);
					}
				   });
			}
			
			function loadpicture()
			{
				var logo = $("#fileToUpload").val();
				var fileNameIndex = logo.lastIndexOf("\\") + 1;
				var filename = logo.substr(fileNameIndex);
				$.ajax({
					 type: "POST",
					 url: 'upload.php',
					 data: new FormData( $( '#user' )[0] ),
					 processData: false,
					 contentType: false,
					 success: function(result){
						alert(result);
					}
				   });
			}
			</script>
        {% endblock %}
			
            {% block content %}
              <div class="row">
                <div class="col-lg-8" style="margin-left:10%">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-users"></i> Edit Retailer</h3>
                    </div>
                    <div class="panel-body">
                      <form name="user" id="user" method="get" action="{{site.uri.public}}/retailer/edit">
					  <input type="hidden" name="editid" value="{{retailer.id}}">
						<div id="{{alerts_id | default('form-alerts')}}">
						</div>
						<div class="row" style="margin-left:15%">
							<div class="col-sm-8">
								<div class="form-group">
									<label>Name</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="name" value="{{retailer.name}}" placeholder="Please enter the reward name">
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Address</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="address" value="{{retailer.address}}" placeholder="Please enter the reward name">
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Area</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-mail"></i></span>
										<select id="input_group" class="form-control select2" name="area">
										  <option{% if retailer.area == "Area-1" %} selected {% endif %}>Area-1</option>
										  <option{% if retailer.area == "Area-2" %} selected {% endif %}>Area-2</option>
										  <option{% if retailer.area == "Area-3" %} selected {% endif %}>Area-3</option>
										  <option{% if retailer.area == "Area-4" %} selected {% endif %}>Area-4</option>
										  <option{% if retailer.area == "Area-5" %} selected {% endif %}>Area-5</option>
										  <option{% if retailer.area == "Area-6" %} selected {% endif %}>Area-6</option>
										  <option{% if retailer.area == "Area-7" %} selected {% endif %}>Area-7</option>
										  <option{% if retailer.area == "Area-8" %} selected {% endif %}>Area-8</option>
										 </select>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>City</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-mail"></i></span>
										<select id="input_group" class="form-control select2" name="city">
										  <option{% if retailer.city == "Islamabad" %} selected {% endif %}>Islamabad</option>
										  <option{% if retailer.city == "RawalPindi" %} selected {% endif %}>RawalPindi</option>
										  <option{% if retailer.city == "Lahore" %} selected {% endif %}>Lahore</option>
										  <option{% if retailer.city == "Karachi" %} selected {% endif %}>Karachi</option>
										 </select>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Description</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="description" value="{{retailer.description}}" placeholder="Please give brief description of store">
									</div>
								</div>
							</div>
							
							<div class="col-sm-8" id="picture">
								<div class="form-group">
									<label>Logo (max size 50 * 50)</label>
									<div class="input-group">
										<input type="file" name="logoToUpload" id="logoToUpload" value="{{retailer.logo}}">
										<button type="button" onclick="loadlogo()">upload</button>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8" id="picture">
								<div class="form-group">
									<label>picture</label>
									<div class="input-group">
										<input type="file" name="fileToUpload" id="fileToUpload" value="{{retailer.banner}}">
										<button type="button" onclick="loadpicture()">upload</button>
									</div>
								</div>
							</div>
										
						</div><br>
						<div class="row" style="margin-left:15%">
							{% if "submit" not in buttons.hidden %}
							<div class="col-xs-8 col-sm-4">
								<div class="vert-pad">
									<button type="submit" class="btn btn-block btn-lg btn-success">
										Save
									</button>
								</div>          
							</div>
							{% endif %}
						</div>
					</form>
					<script>
					// Load the validator rules for this form
					var validators = {{validators | raw}};
					</script>

                    </div>
                  </div>
                </div>
                </div>
            {% endblock %}