{% extends "layouts/layout-consumer.twig" %}
        
            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Consumer Registration",
                    "description" : "None."
                }) %}
                {{ parent() }}
            {% endblock %}
        
			{% block page_scripts %}
            <script>
				$(document).ready(function() { 
					// Load the validator rules for this form
					var validators = {{validators | raw}};
					ufFormSubmit(
					  $("form[name='titles']"),
					  validators,
					  $("#userfrosting-alerts"),
					  function(data, statusText, jqXHR) {
						  // Reload the page on success
						  window.location.reload(true);   
					  }
					);
				});
				
			</script>
			<script>
			function notifyme()
			{
				if($("#notification").val() == 0)
				{
					$("#notification").val(1);
				}
				else
				{
					$("#notification").val(0);
				}
			}
			</script>
        {% endblock %}
			
            {% block content %}
              <div class="row">
                <div class="col-lg-8" style="margin-left:10%">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-users"></i> Add New Consumer</h3>
                    </div>
                    <div class="panel-body">
                      <form name="user" method="get" action="{{site.uri.public}}/consumer/create">
						<div id="{{alerts_id | default('form-alerts')}}">
						</div>
						<div class="row" style="margin-left:15%">
							<div class="col-sm-8">
								<div class="form-group">
									<label>First Name *</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="fname" placeholder="Please enter the user name" required>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Last Name *</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="lname" placeholder="Please enter the user name" required>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Gender *</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-mail"></i></span>
										<select id="input_group" class="form-control select2" name="gender" required>
										  <option value="1">Male</option>
										  <option value="2">Female</option>
										 </select>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>DOB</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="dob" placeholder="Please enter the user name">
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Card Ref.</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="card" placeholder="Please enter the user name">
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Conatct *</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="contact" placeholder="Please enter the user name" required>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Address *</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="address" placeholder="Please enter the user name" required>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Email *</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-edit"></i></span>
										<input type="text" class="form-control" name="email" placeholder="Please enter the user name" required>
									</div>
								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="form-group">
									<label>Delivery Preferences *</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-mail"></i></span>
										<select id="input_group" class="form-control select2" name="delivery_prefference" required>
										  <option value="1">Email</option>
										  <option value="2">SMS</option>
										  <option value="3">App</option>
										  <option value="4">Post</option>
										 </select>
									</div>
								</div>
							</div>
							
							
							<div class="col-sm-8">
								<div class="form-group">
									<div class="input-group">
										<input type="hidden" id="notification" name="notification" value="0">
										<input type="checkbox" onclick="notifyme()">
										Send Notifcations for new Rewards and Coupons
									</div>
								</div>
							</div>
										
						</div><br>
						<div class="row" style="margin-left:15%">
							{% if "submit" not in buttons.hidden %}
							<div class="col-xs-8 col-sm-4">
								<div class="vert-pad">
									<button type="submit" class="btn btn-block btn-lg btn-success">
										Create
									</button>
								</div>          
							</div>
							{% endif %}
						</div>
					</form>
					<script>
					// Load the validator rules for this form
					var validators = {{validators | raw}};
					</script>

                    </div>
                  </div>
                </div>
                </div>
            {% endblock %}