{% extends "layouts/layout-coupon.twig" %}
        
            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Create Coupon",
                    "description" : "None."
                }) %}
                {{ parent() }}
            {% endblock %}
        
			{% block page_scripts %}
            <style>
			.cardtype{
				padding:3px;
				font-size: 17px;
				border-color:#A8A8A8;
				border:1px;
				margin-left: 1px;
			}
			.landscape{
				height:230px;
				width:400;
				border-width:1px;
				border-color: #5F9F9F;
				border-style: solid;
			}
			.portrait{
				background-image: URL('images/coupon1.png');
				background-repeat: no-repeat;
				height:352px;
				width:202;
			}
			</style>
			<script>
				$(document).ready(function() { 
					// Load the validator rules for this form
					var validators = {{validators | raw}};
					ufFormSubmit(
					  $("form[name='titles']"),
					  validators,
					  $("#userfrosting-alerts"),
					  function(data, statusText, jqXHR) {
						  // Reload the page on success
						  window.location.reload(true);   
					  }
					);
				});
				
			</script>
			<script>
			function changetype(type)
			{
				if(type == 1)
				{
					$("#portrait").attr("hidden", "hidden");
					$("#landscape-single").removeAttr("hidden");
				}
				else
				{
					$("#landscape-single").attr("hidden", "hidden");
					$("#portrait").removeAttr("hidden");
				}
				//show_type();
				$("#coupon_side").removeAttr("hidden");
			}
			function changeitem(text)
			{
				$("#litem").text(text);
				$("#litem2").text(text);
				$("#litem22").text(text);
				$("#pitem").text(text);
			}
			function side(sides)
			{
				if(sides == "single")
				{
					$("#sides").val(1);
					$("#landscape-double").attr("hidden", "hidden");
					$("#landscape-sinlge").removeAttr("hidden");
				}
				else
				{
					$("#sides").val(2);
					$("#landscape-sinlge").attr("hidden", "hidden");
					$("#landscape-double").removeAttr("hidden");
				}
			}
			
			function disctype(type)
			{
				if(type == 1)
				{
					$("#d_type").val(1);
					alert("working");
				}
				else
				{
					$("#d_type").val(0);
				}
			}
			function changediscount(text)
			{
				if($("#d_type").val() == "1")
				{
					newtext = text + '%<span style="font-size:28px"> Off *</span>';
					$("#ldiscount2").html(text+"%");
				}
				else
				{
					newtext = text +'<span style="font-size:22px">Rs Off</span>';
					$("#ldiscount2").html(text+'<span style="font-size:28px">Rs</span>');
				}
				$("#ldiscount").html(newtext);
				$("#pdiscount").html(text);
			}
			function changedescription(text)
			{
				$("#ldetail").text(text);
				$("#ldetail2").text(text);
				$("#ldetail22").text(text);
				$("#pdetail").text(text);
			}
			function changeexpiry(text)
			{
				$("#lexpiry").text("Expires: "+text);
				$("#lexpiry2").text(text);
				$("#pexpiry").text(text);
			}
			
			function changeothers(text)
			{
				$("#lothers").text(text);
				$("#lothers2").text(text);
				$("#lothers22").text(text);
			}
			 
			function show_type()
			{
				$("#coupon_type").removeAttr("hidden");
				$("#coupon_side").attr("hidden","hidden");
			}
			function show_side(type)
			{
				$("#coupon_type").attr("hidden","hidden");
				$("#coupon_side").removeAttr("hidden");
				if(type == "pic")
				{
					$("#picture").removeAttr("hidden");
					$("#text-card").attr("hidden","hidden");
					$("#pic-card").removeAttr("hidden");
					$("#selected_type").text("Picture Coupon Selected");
				}
				else
				{
					$("#picture").attr("hidden","hidden");
					$("#pic-card").attr("hidden","hidden");
					$("#text-card").removeAttr("hidden");
					$("#selected_type").text("Text Coupon Selected");
				}
				$("#selected_type").removeAttr("hidden");
			}
			function loadpicture()
			{
				var logo = $("#fileToUpload").val();
				var fileNameIndex = logo.lastIndexOf("\\") + 1;
				var filename = logo.substr(fileNameIndex);
				$.ajax({
					 type: "POST",
					 url: 'upload.php',
					 data: new FormData( $( '#user' )[0] ),
					 processData: false,
					 contentType: false,
					 success: function(result){
						alert(result);
						$("#lpic").html('<img src="images/'+filename+'" height="228px" width="255px"/>');
						$("#lpic2").html('<img src="images/'+filename+'" height="228px" width="255px"/>');
						//$("#lpic22").html('<img src="images/'+filename+'" height="228px" width="255px"/>');
					 }
				   });
			}
			function loadlogo()
			{
				var logo = $("#logoToUpload").val();
				var fileNameIndex = logo.lastIndexOf("\\") + 1;
				var filename = logo.substr(fileNameIndex);
				$.ajax({
					 type: "POST",
					 url: 'uploadlogo.php',
					 data: new FormData( $( '#user' )[0] ),
					 processData: false,
					 contentType: false,
					 success: function(result){
						alert(result);
						$("#llogo").html('<img src="images/'+filename+'" style=" margin-left:118px; max-height:25px; max-width:25px"/>');
						$("#llogo2").html('<img src="images/'+filename+'" style=" margin-left:118px; max-height:25px; max-width:25px"/>');
					 }
				   });
			}
			
			</script>
        {% endblock %}
			
            {% block content %}
              <div class="row">
                <div class="col-lg-11" style="margin-left:5%">
                  <div class="panel panel-primary" style="border:0px">
                    <div class="panel-body">
						<div class="row">
							<div class="col-lg-6">
								
								<form name="user" id="user" method="get" action="#">
									<input type="hidden" name="sides" id="sides">
									<input type="hidden" name="d_type" id="d_type">
									<div id="{{alerts_id | default('form-alerts')}}">
									</div>
									<div class="row" style="margin-left:15%">
										<div class="col-sm-8">
											<div class="form-group">
												<div class="input-group">
													<button type="button" class="btn btn-default" onclick="changetype(1)">Landscape</button>
													<button type="button" class="btn btn-default" onclick="changetype(2)" disabled>Portrait</button>
												</div>
											</div>
										</div>
										<div class="col-sm-8" id="coupon_type" hidden="hidden">
											<div class="form-group">
												<div class="input-group">
													<button type="button" class="btn btn-default" onclick="">Text Coupon</button>
													<button type="button" class="btn btn-default" onclick="">Pic Coupon</button>
												</div>
											</div>
										</div>
										<div class="col-sm-8" id="selected_type" hidden="hidden">
											<div class="form-group">
												<div class="input-group">
													<label id="selected_type_text"></label>
												</div>
											</div>
										</div>
										<div class="col-sm-8" id="coupon_side" hidden="hidden">
											<div class="form-group">
												<div class="input-group">
													<button type="button" class="btn btn-default" onclick="side('single')">Single Sided</button>
													<button type="button" class="btn btn-default" onclick="side('double')">Double Sided</button>
												</div>
											</div>
										</div>
										
										<div class="col-sm-8">
											<div class="form-group">
												<label>Discount Type</label>
												<div class="radio">
													<label>
														<input type="radio" name="discount_type" id="optionsRadios1" value="1" onclick="disctype(1)">In Percentage
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="discount_type" id="optionsRadios2" value="2" onclick="disctype(0)">In Ruppees
													</label>
												</div>
											</div>
										</div>
										
										<div class="col-sm-8">
											<div class="form-group">
												<label>Discount (No. Only)</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-edit"></i></span>
													<input type="text" class="form-control" name="discount" onchange="changediscount(this.value)">
												</div>
											</div>
										</div>
										<div class="col-sm-8" id="picture">
											<div class="form-group">
												<label>Logo (max size 50 * 50)</label>
												<div class="input-group">
													<input type="file" name="logoToUpload" id="logoToUpload">
													<button type="button" onclick="loadlogo()">upload</button>
												</div>
											</div>
										</div>
										<div class="col-sm-8" id="picture">
											<div class="form-group">
												<label>picture</label>
												<div class="input-group">
													<input type="file" name="fileToUpload" id="fileToUpload">
													<button type="button" onclick="loadpicture()">upload</button>
												</div>
											</div>
										</div>
										<div class="col-sm-8">
											<div class="form-group">
												<label>item</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-edit"></i></span>
													<input type="text" class="form-control" name="item" onchange="changeitem(this.value)" Value="">
												</div>
											</div>
										</div>
										<div class="col-sm-8">
											<div class="form-group">
												<label>Description</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-edit"></i></span>
													<textarea maxlength="100" class="form-control" name="detail"name="detail" onchange="changedescription(this.value)"></textarea>
												</div>
											</div>
										</div>
										<div class="col-sm-8">
											<div class="form-group">
												<label>Exclusions</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-edit"></i></span>
													<input type="text" class="form-control" name="others" onchange="changeothers(this.value)">
												</div>
											</div>
										</div>
										<div class="col-sm-8">
											<div class="form-group">
												<label>expiry</label>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-edit"></i></span>
													<input type="text" class="form-control" name="expiry" onchange="changeexpiry(this.value)">
												</div>
											</div>
										</div>
													
									</div><br>
									<div class="row" style="margin-left:15%">
										{% if "submit" not in buttons.hidden %}
										<div class="col-xs-8 col-sm-4">
											<div class="vert-pad">
												<button type="submit" class="btn btn-block btn-lg btn-success">
													Create
												</button>
											</div>          
										</div>
										{% endif %}
									</div>
								</form>
							</div>
							<div class="col-lg-6">
								<div id="landscape-sinlge" class="landscape" hidden>
									<div style="text-align:center; width:400px; height:230px;" id="single-sided">
										<div class="row">
											<div class="col-lg-1" id="lpic" style="margin-left:1px; width:255px; height:230px;"></div>
											<div class="col-lg-1" style="margin-left:10px; width:143px; height:230px;">
												<div id="llogo" style="width:18px; height:15px; margin-top:8px"></div>
												<div id="ldiscount" style="width:145px; height:45px; font-size:38px;"></div>
												<div id="litem" style="margin-top:3px; width:145px; height:20px; font-size:16px"></div>
												<div id="ldetail" style="width:145px; font-size:10px"></div>
												<div id="lexpiry" style="text-align:center; width:145px; margin-top:3px; height:15px; font-size:13px"></div>
												<div style="width:145px; margin-top:5px; font-size:13px"><img src="images/bar.gif" style="max-height:40px"></div>
												<div id="lothers" style="text-align:center; width:145px; height:15px; font-size:7px"></div>
											</div>
										</div>
									</div>
								</div>
								<div id="landscape-double" hidden>
									<div class="landscape">
										<div style="text-align:center; width:400px; height:230px;">
											<div class="row">
												<div class="col-lg-1" id="lpic2" style="margin-left:1px; width:255px; height:230px;"></div>
												<div class="col-lg-1" style="margin-left:10px; width:143px; height:230px;">
													<div id="llogo2" style="width:18px; height:18px; margin-top:10px"></div>
													<div id="ldiscount2" style="width:143px; height:55px; font-size:55px;"></div>
													<div style="width:143px; height:43px; font-size:38px">Off *</div>
													<div id="litem2" style="width:143px; height:30px; font-size:22px"></div>
													<div style="text-align:center; width:143px; height:15px; font-size:13px">Valid Till:</div>
													<div id="lexpiry2" style="text-align:center; width:143px; height:20px; font-size:20px"></div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="landscape">
										<div style="text-align:center; width:400px; height:230px;">
											<div class="row">
												<div class="col-lg-1" id="lpic22" style="margin-left:1px; width:255px; height:230px;"></div>
												<div class="col-lg-1" style="margin-left:10px; width:143px; height:230px;">
													<div id="ldetail22" style="margin-top:15px; width:143px; height:90px; font-size:12px"></div>
													<div style="width:143px; font-size:13px"><img src="images/bar.gif" style="max-height:80px"></div>
													<div id="lothers22" style="margin-top:5px; text-align:center; width:143px; height:15px; font-size:8px"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
                      
					<script>
					// Load the validator rules for this form
					var validators = {{validators | raw}};
					</script>

                    </div>
                  </div>
                </div>
                </div>
            {% endblock %}