<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <!-- div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            </div -->
            <!-- /input-group -->
        </li>
        {% if checkAccess('uri_consumers') or checkAccess('uri_reward') or checkAccess('uri_coupon') or checkAccess('uri_retailer') %}
		
		{% else %}
		<li>
            <a href="{{site.uri.public}}/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
		{% endif %}
        
		{% if checkAccess('uri_consumers') %}
        <li>
            <a href="{{site.uri.public}}/consumer"><i class="fa-users fa fa-fw"></i> Consumers</a>
        </li>
		<li>
            <a href="{{site.uri.public}}/consumer/create"><i class="fa-users fa fa-fw"></i> Create Consumers</a>
        </li>
        {% endif %}
		
		{% if checkAccess('uri_retailer') %}
        <li>
            <a href="{{site.uri.public}}/retailer"><i class="fa-users fa fa-fw"></i> Retailer</a>
        </li>
		<li>
            <a href="{{site.uri.public}}/retailer/add"><i class="fa-users fa fa-fw"></i> Create Retailer</a>
        </li>
        {% endif %}
		
		{% if checkAccess('uri_coupon') %}
        <li>
            <a href="{{site.uri.public}}/coupon"><i class="fa-users fa fa-fw"></i> Coupon</a>
        </li>
		<li>
            <a href="{{site.uri.public}}/coupon/create"><i class="fa-users fa fa-fw"></i> Create Coupon</a>
        </li>
		<li>
            <a href="#"><i class="fa-users fa fa-fw"></i> Rules</a>
        </li>
        {% endif %}
		
		{% if checkAccess('uri_reward') %}
        <li>
            <a href="{{site.uri.public}}/reward"><i class="fa-users fa fa-fw"></i> Reward</a>
        </li>
        {% endif %}
		
        {% if checkAccess('uri_zerg') %}
        <li>
            <a href="{{site.uri.public}}/zerg"><i class="sc sc-zerg fa fa-fw"></i> Zerg</a>
        </li>
        {% endif %}
        {% if checkAccess('uri_users') %}
        <li>
            <a href="{{site.uri.public}}/users"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_USERS") }}</a>
        </li>
        {% endif %}
        {% if checkAccess('uri_group_users', { ('primary_group_id') : 4 }) %}
        <li>
            <a href="{{site.uri.public}}/users/zerglings"><i class="sc sc-zergling fa-fw"></i> Zerglings</a>
        </li>
        {% endif %}
        {% if checkAccess('uri_site_settings') or checkAccess('uri_manage_groups') %}
        <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> {{ translate("MENU_CONFIGURATION") }}<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                {% if checkAccess('uri_site_settings') %}
                <li>
                    <a href="{{site.uri.public}}/config/settings"><i class="fa fa-globe fa-fw"></i> {{ translate("MENU_SITE_SETTINGS") }}</a>
                </li>
                {% endif %}
                {% if checkAccess('uri_manage_groups') %}
                <li>
                    <a href="{{site.uri.public}}/groups"><i class="fa fa-tags fa-fw"></i> {{ translate("MENU_GROUPS") }}</a>
                </li>
                {% endif %}
            </ul>
            <!-- /.nav-second-level -->
        </li>
        {% endif %}
    </ul>
</div>
<!-- /.sidebar-collapse -->
